.imagenes-content{
    padding: 10px 1% 10px 1%;
    background-color: #E1EBEE;
    .imagenes{
        white-space: nowrap;
        overflow-x: auto;
        display: flex;

        .imagen{
            margin: 0% 1% 0% 0%;
        }
    }
}

.informacion-content{
    padding: 1%;

    .flex{
        padding: 0% 5% 0% 5%;
        display: flex;
        .precio-container{
            margin-right: 5%;
            .precio{
                color: orange;
                font-size: 30px;
                margin: 15px 0px 0px 0px;
            }
        }
        .descuento-container{
            .descuento{
                color: green;
                font-size: 15px;
            }
        }
    }

    .nombre-container{
        padding: 5px 6% 5px 6%;
        .nombre{
            margin: 0px;
            color: black;
            font-size: 20px;
        }
    }

    .descripcion-container{
        padding: 5px 6% 5px 6%;
        .descripcion{
            margin: 0px;
            color: black;
            font-size: 10px;
            

        }
    }

    .tallas-container{
        padding: 5px 6% 5px 6%;
        .tallas{
            margin: 0px;
            color: black;
            font-size: 20px;
            
        }
    }

    .genero-container{
        padding: 5px 6% 5px 6%;
        .genero{
            margin: 0px;
            color: black;
            font-size: 20px;
        }
    }

    .marca-container{
        padding: 5px 6% 5px 6%;
        .marca{
            margin: 0px;
            color: black;
            font-size: 20px;
        }
    }

    .tipomaterial-container{
        padding: 5px 6% 5px 6%;
        .tipomaterial{
            margin: 0px;
            color: black;
            font-size: 20px;
        }
    }

    
}
.btn-añadir-al-carrito{
    width: 88%;
    margin: 5px 6% 5px 6%;
    --ion-color-base: #ff9900;


}

