<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articulos</ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="person-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrito"><ion-icon name="cart-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="productos-content">

    <div class="producto"  *ngFor="let producto of productos" (click)="irDetalleProducto(producto.id)">
      <div class="img-producto">
        <img  class="imagen" src="{{ producto.imagenPrincipal }}" alt="">
      </div>
      <div class="nombre-producto">
        <p class="nombre">{{ producto.nombre }}</p>
      </div>
      <div class="contenedor-descuento-precio">
        <div class="separador">
          <div class="precio-producto">
            <p>{{ producto.precio | currency:'USD':'symbol':'1.0-0' }}</p>
          </div>
          <div class="descuento-producto" *ngIf="producto.descuento != 0">
            <p>-{{ producto.descuento }}%</p>
          </div>
        </div>
        <div class="btn-agregar-carrito">
          <ion-icon name="cart-outline" class="btn-agregar-carrito"></ion-icon>
        </div>
      </div>
    </div> 

  </div>


</ion-content>
