.formulario-register-container{
    padding: 5%;
    .titulo-container{

        .titulo{
            margin: 0;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
    
        }
    }

}
